@inject AppTranslate.Translate.IAppTranslate Translate
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@implements IDisposable


<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@if (Translate.IsSupportRTL)
{
    Console.WriteLine("hello from hoho :" + Translate.Translate.Count);
    <Link href="css/arapp.css" rel="stylesheet" />
}

@code{
   
    protected override void OnInitialized()
    {

        base.OnInitialized();
        Translate.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Translate.OnChange -= StateHasChanged;
    }
}
