@page "/counter"
@inject AppTranslate.Translate.IAppTranslate Translate
@inject IJSRuntime IJSRuntime



<h1 class="arFlip-1 arAlign">@Translate["Counter"]</h1>

<p class="arFlip-1 arAlign">@Translate["Current count"]: @currentCount</p>

<button class="btn btn-primary d-flex" @onclick="IncrementCount">@Translate["Click me"]</button>

<button class="btn btn-primary d-flex my-2" @onclick="ChangeLanguge">@Translate["Change language"]</button>

<h1 class="arFlip-1 arAlign">@Translate["Hello"]</h1>



@code {
    private int currentCount = 0;

    [Parameter]
    public int count { get; set; }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ChangeLanguge()
    {
        Translate.Switch();
    }

}
