@page "/counter"
@inject AppTranslate.Translate.IAppTranslate Translate
@inject IJSRuntime IJSRuntime
@implements IDisposable


<h1 class="arFlip-1 arAlign">@Translate["Counter"]</h1>

<p class="arFlip-1 arAlign">@Translate["Current count"]: @currentCount</p>

<button class="btn btn-primary d-flex" @onclick="IncrementCount">@Translate["Click me"]</button>


<select class="form-control w-25" @onchange="HandelSelectChanged">
    <option selected value="default">en</option>
    <option value="ar">ar</option>
    <option value="fr">fr</option>
</select>

<h1 class="arFlip-1 arAlign">@Translate["Hello"]</h1>


@code {
    private int currentCount = 0;

    [Parameter]
    public int count { get; set; }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ChangeLanguge()
    {
        Translate.Switch();
    }

    private void ChangeFile()
    {
        Translate.UpdateThesaurus("thesaurusFR.json");
    }


    private void HandelSelectChanged(ChangeEventArgs e)
    {
        switch (e.Value.ToString())
        {
            case "default":
                if (!Translate.IsDefault())
                    Translate.Switch();
                Translate.Code = "en";
                break;

            case "fr":
                if (Translate.ThesaurusPath == "thesaurusFR.json")
                {
                    if (Translate.IsDefault())
                        Translate.Switch();
                }
                else
                    Translate.UpdateThesaurus("thesaurusFR.json");
                Translate.Code = "fr";
                break;

            case "ar":
                if (Translate.ThesaurusPath == "thesaurus.json")
                {
                    if (Translate.IsDefault())
                        Translate.Switch();
                }
                else
                    Translate.UpdateThesaurus("thesaurus.json");
                Translate.Code = "ar";
                break;

            default:
                break;
        }
    }


    protected override void OnInitialized()
    {
        Translate.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Translate.OnChange -= StateHasChanged;
    }

}
